<div>
  <h2 id="page-heading" data-cy="EntregaDiplomaHeading">
    <span jhiTranslate="emissaoDiplomaApp.entregaDiploma.home.title">Entrega Diplomas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="emissaoDiplomaApp.entregaDiploma.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-entrega-diploma"
        [routerLink]="['/entrega-diploma/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="emissaoDiplomaApp.entregaDiploma.home.createLabel"> Criar novo Entrega Diploma </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="entregaDiplomas?.length === 0">
    <span jhiTranslate="emissaoDiplomaApp.entregaDiploma.home.notFound">Nenhum Entrega Diploma encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="entregaDiplomas && entregaDiplomas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataDeEntrega">
            <div class="d-flex">
              <span jhiTranslate="emissaoDiplomaApp.entregaDiploma.dataDeEntrega">Data De Entrega</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="observacoes">
            <div class="d-flex">
              <span jhiTranslate="emissaoDiplomaApp.entregaDiploma.observacoes">Observacoes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entregaDiploma of entregaDiplomas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/entrega-diploma', entregaDiploma.id, 'view']">{{ entregaDiploma.id }}</a>
          </td>
          <td>{{ entregaDiploma.dataDeEntrega | formatMediumDate }}</td>
          <td>{{ entregaDiploma.observacoes }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/entrega-diploma', entregaDiploma.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/entrega-diploma', entregaDiploma.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(entregaDiploma)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
